@font-face {
  font-family: FuturaPT;
  src: url("../fonts/futurapt/FUTURAPTBOLD.OTF") format('opentype');




}

@font-face {
font-family: PTSans-Regular;
  src: url("../fonts/PTSans-Regular.ttf") format('truetype');

}

html {

}

body {
  font-family: FuturaPT, PTSans-Regular;

}

.promo {
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 644px;
  padding-top: 150px;


}

.header {
  padding-top: 40px;


}
.container {

  width: 1160px;
  margin: 0 auto;

}
.container__span {
  font-size: 30px;
  display: block;
  font-weight: bold;


}

.container__title {
  margin: 0;
  padding: 0;
  font-family: FuturaPT;
  font-size: 50px;
  color: #fff;
  width: 470px;


}

.container-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  list-style: none;
  margin: 0;
}
.menu__list-item {



}
.link-item  {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 35px;
  color: #000;
}

.logo {

}
.phone__link, .btn-enroll {
  color: #000;
  text-decoration: none;
}

.btn-enroll {
  display: inline-block;
  border: 3px solid #000;
  padding: 13px 23px;
  color: #74e196;
  margin-left: 40px;

}

.main__services {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.service-visit {
  display: flex;
  flex-flow: row wrap;

}
.main__title, .services  {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.service-flex {
  display: flex;
  flex-flow: column wrap;
}
.service-flex__one{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.service-visit__text {
  display: flex;
  flex-flow: column wrap;

}
.service-flex-two {
  display: flex;
  flex-flow: row wrap;


}
.service-flex__two {
  display: flex;

}

.short-course-text {
  display: flex;
  flex-direction: column;
}
.service-visit__text {
  font-weight: normal;
}



.advantages {
  display: flex;
  flex-flow: column wrap;
  text-align: center;

}

.advantages-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages-flex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.advantages__title {
  display: flex;
  justify-content: center;
}

.class-why {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;

}
.why__text {
  text-align: left;
  min-height: 130px;
}

.discounts-bgr {
  background-image: url("../img/Прямоугольник 16.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}